
body {
    background-color: #424242;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 2000px;
}

.square {
    height: 10px;
    width: 10px;
    margin: 0.3px;
    background-color: #424242;
    transition: 2s ease;
}

.square:hover {
    transition-duration: 0s;
}