

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    overflow: hidden;
}

.btn1 {
    height: 25px;
    margin: 50px;
    border-radius: 10px;
}

.btn2 {
    height: 25px;
    margin: 50px;
    border-radius: 10px;
}

.btn3 {
    height: 25px;
    margin: 50px;
    border-radius: 10px;
    background-color: blue;
}

.btn4 {
    height: 25px;
    margin: 50px;
    border-radius: 10px;
}

.btn5 {
    height: 25px;
    margin: 50px;
    border-radius: 10px;
}