

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    overflow: hidden;
    background-color: #62c489;
}

.btn {
    height: 30px;
    margin: 22px;
    border-radius: 10px;
    background-color: #6bd5f2;
}
